name: ollvm-plugin

permissions:
  contents: write

on:
  release:
    types: [published, edited]
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    env:
      BUILD_TYPE: Release

    steps:
      - name: Set CORES
        run: echo "CORES=$env:NUMBER_OF_PROCESSORS" >> $env:GITHUB_ENV

      - name: Check if can proceed
        shell: bash
        id: pre-check
        run: |
          if echo "${{ github.event.release.tag_name }}" | grep -q "llvm"; then
            exit 1
          fi

      - name: Checkout ollvm repo
        uses: actions/checkout@v5
        with:
          submodules: recursive

      - name: Extract version from release tag
        id: tag
        run: |
          $tag = "${{ github.event.release.tag_name }}"
          $version = [regex]::Match($tag, '\d+\.\d+').Value
          "version=$version" >> $env:GITHUB_OUTPUT

      - name: Match tag
        if: github.event_name == 'release'
        shell: bash
        id: version
        run: |
          TAG=${{ steps.tag.outputs.version }}
          response=$(curl -s -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" \
            -H "Accept: application/vnd.github.v3+json" \
            "https://api.github.com/repos/${GITHUB_REPOSITORY}/releases")

          matching_tag=$(echo "$response" | jq -r --arg version "$TAG" '
            [.[] | select(.tag_name | ascii_downcase | contains("llvm")) |
            select(.tag_name | contains($version)) | .tag_name] |
            sort | last
          ')

          if [ "$matching_tag" != "null" ] && [ -n "$matching_tag" ]; then
              echo "Found matching LLVM release: $matching_tag"
              echo "llvm_tag=$matching_tag" >> $GITHUB_OUTPUT
          else
              echo "No matching LLVM release found"
              echo "llvm_tag=" >> $GITHUB_OUTPUT
          fi

      - name: Download ak.7z directly
        if: steps.version.outputs.llvm_tag != ''
        shell: bash
        run: |
          TAG=${{ steps.version.outputs.llvm_tag }}
          REPO=${{ github.repository }}

          download_url="https://github.com/$REPO/releases/download/$TAG/rust-llvm.7z"
          curl -L -o "rust-llvm.7z" "$download_url"

          if [ -f "rust-llvm.7z" ]; then
            echo "Download successful"
            7z x rust-llvm.7z -o"C:\Program Files" -aoa
          else
            echo "Download failed"
            exit 1
          fi

      - name: Build llvm-rust
        shell: cmd
        run: |
          call "%ProgramFiles%\Microsoft Visual Studio\2022\Enterprise\VC\Auxiliary\Build\vcvars64.bat"
          cmake -B build_llvm -G Ninja ^
          -S .\ollvm-pass ^
          -DCMAKE_CXX_STANDARD=17 ^
          -DCMAKE_BUILD_TYPE=${{ env.BUILD_TYPE }} ^
          -DBUILD_SHARED_LIBS=ON ^
          -DLLVM_DIR="C:/Program Files/LLVM/lib/cmake/llvm"
          cmake --build build_llvm --config ${{ env.BUILD_TYPE }} --verbose -j ${{ env.CORES }}

      - name: list dll
        run: |
          Get-ChildItem -Path . -Filter ollvm.dll -Recurse

      - name: Release
        uses: softprops/action-gh-release@v2
        if: github.event_name == 'release'
        with:
          tag_name: ${{ github.event.release.tag_name }}
          name: ${{ github.event.release.name }}
          draft: false
          prerelease: false
          files: |
            ollvm.dll
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
